<% provide(:title, 'Home') %>
<div class="center">
    <h1>PhamBench</h1>
    <p>
    Welcome to PhemBench!!
    </p>
    <type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
      sign up now!
</div>
      <!-- Modal -->
    <div_class="modal_window">
      <%= render "static_pages/modal_window" %>
    </div>
