<%= form_for(@micropost) do |f| %>
  <!--TODO <%= render 'shared/error_messages', object: f.object %> -->
  <div class="field">
    <%= f.text_area :content, placeholder: "文字を入力してください。" %>
  </div>
    <%= f.submit "投稿", class:"btn btn-primary btn-lg" =%>
<% end %>
